//- index.pug
doctype html
html
  head
    title Krunal Dance Academy
    style
      include ../static/style.css
  body
    //- | this                                   
    //- '|' this symbol is pipe charater 
    nav#navbar
        ul
            div#navimg
              img(src="/img/logo.jpg", alt="erro")  
            li #[a(href='/') Home]
            li #[a(href='/') About]
            li #[a(href='/') Services]
            li #[a(href='/') Class Info]
            li #[a(href='/') Contact Us]

    section#introsection
      div Welcome To Krunal's Dance Academy
      div Live  Eat  Sleep  Dance

    section#missionsection
        h3 Our mission
        div#container
          div.card#card1
            h4 Dance Perfection
            p This is the most popular dance academy of india.Hurry up and fill the form.This is the most popular dance academy of india.Hurry up and fill the form
          div.card#card2
            h4 Dance the way you like
            p This is the most popular dance academy of india.Hurry up and fill the form.This is the most popular dance academy of india.Hurry up and fill the form
          div.card#card3
            h4 Expert Teaching
            p This is the most popular dance academy of india.Hurry up and fill the form.This is the most popular dance academy of india.Hurry up and fill the form

    section#sponcersection
        h3 Our Sponcers
        div.sponimg
          div
            img(src="/img/d1.jpg", alt="")
          div
            img(src="/img/l1.jpg", alt="")
          div
            img(src="/img/dance1.jpg", alt="")
          div
            img(src="/img/l3.jpg", alt="")
          div
            img(src="/img/lo.jpg", alt="")
          div
            img(src="/img/l2.jpg", alt="")
        
    footer#footer
        |Terms and Conditions
    script
      include ../static/index.js